*{
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Roboto', sans-serif;
}

.logo{
  background-color: #000;
  width: 100%;
  padding-top: 10px;
  padding-left: 5%;
  float: left;

}

.rightheadertext{
  list-style: none;
  font-size: 30px;
  float: right;
  padding-right: 15%;
}

.rightheadertext a{
  text-decoration: none;
  color: #e8dbd3;
}
.rightheadertext a:hover{
  color: #00cccc;
}

table{
  width: 500px;
  margin-left: 15%;

  border: 2px solid #000;
}

footer {
  margin-top: 30%;
  text-align: center;
}

.cartable img:src{
  width: 50%;
  height: 50%;
}
